body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0px;
  overflow-y: scroll;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 124px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(12, 47, 136, 0.15);
          box-shadow: 0px 4px 4px rgba(12, 47, 136, 0.15);
}

body header #burger-menu {
  display: none;
}

body header .burger-menu {
  height: 54px;
  display: none;
}

body header .burger-menu .bg-menu {
  width: 45px;
  cursor: pointer;
}

body header .burger-menu .bg-menu .burger-menu_div {
  display: none;
  width: 45px;
  height: 4.5px;
  margin-top: 10px;
  border-radius: 2px;
  background-color: #3F4449;
}

@media (max-width: 720px) {
  body header .burger-menu .bg-menu .burger-menu_div {
    display: block;
  }
}

@media (max-width: 320px) {
  body header .burger-menu .bg-menu .burger-menu_div {
    width: 24px;
    height: 2px;
    margin-top: 5px;
  }
}

@media (max-width: 320px) {
  body header .burger-menu .bg-menu {
    width: 24px;
  }
}

body header .header-icon {
  height: 50px;
}

body header .header-list .head-menu {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 36px;
  margin: 42px 0px 79px;
}

body header .header-list .head-menu .head-menu_icon {
  width: 153px;
  height: 72px;
  margin-right: 150px;
}

body header .header-list .head-menu #close-menu {
  display: none;
}

body header .header-list .head-menu .close-menu {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

body header .header-list .head-menu .close-menu .close-menu-1, body header .header-list .head-menu .close-menu .close-menu-2 {
  width: 32px;
  height: 5px;
  position: absolute;
  margin-top: 15px;
  border-radius: 2px;
  background-color: #3F4449;
}

body header .header-list .head-menu .close-menu .close-menu-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body header .header-list .head-menu .close-menu .close-menu-2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 320px) {
  body header .header-list .head-menu .close-menu .close-menu-1, body header .header-list .head-menu .close-menu .close-menu-2 {
    width: 20px;
    height: 3px;
  }
}

body header .header-list .head-menu .close-menu:hover .close-menu-1, body header .header-list .head-menu .close-menu:hover .close-menu-2 {
  background-color: red;
}

@media (max-width: 320px) {
  body header .header-list .head-menu .close-menu {
    width: 20px;
  }
  body header .header-list .head-menu .head-menu_icon {
    width: 68px;
    height: 32px;
    margin-right: 60px;
  }
}

body header .header-list .list {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px 0px 0px 30px;
}

body header .header-list .list li {
  margin: 0px 30px;
  display: inline-block;
}

body header .header-list .list li a {
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  color: #3F4449;
}

body header .header-list .list li a:hover {
  text-decoration: underline;
}

@media (max-width: 1280px) {
  body header .header-list .list li a {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 960px) {
  body header .header-list .list li a {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.015em;
  }
}

@media (max-width: 720px) {
  body header .header-list .list li a {
    font-size: 36px;
    line-height: 49px;
  }
}

@media (max-width: 320px) {
  body header .header-list .list li a {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 1280px) {
  body header .header-list .list li {
    margin: 0px 24px 0px 24px;
  }
}

@media (max-width: 960px) {
  body header .header-list .list li {
    margin: 0px 20px 0px 20px;
  }
}

@media (max-width: 720px) {
  body header .header-list .list li {
    display: block;
    margin: 16px 20px;
  }
}

@media (max-width: 320px) {
  body header .header-list .list li {
    margin: 0px 39px 14px 0px;
  }
}

@media (max-width: 720px) {
  body header .header-list .head-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body header .header-list .list {
    margin: 0px 0px 0px 60px;
    list-style-type: none;
    padding-left: 0px;
  }
}

@media (max-width: 320px) {
  body header .header-list .head-menu {
    padding-right: 0px;
    margin: 19px 15px 33px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body header .header-list .list {
    margin: 0px 0px 0px 39px;
  }
}

@-webkit-keyframes showHeaderList {
  from {
    left: -590px;
  }
  to {
    left: 0px;
  }
}

@keyframes showHeaderList {
  from {
    left: -590px;
  }
  to {
    left: 0px;
  }
}

@-webkit-keyframes closeHeaderList {
  from {
    left: 0px;
  }
  to {
    left: -590px;
    display: none;
  }
}

@keyframes closeHeaderList {
  from {
    left: 0px;
  }
  to {
    left: -590px;
    display: none;
  }
}

body header .header-search {
  margin-left: 30px;
}

body header .header-search .head-search {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 40px;
  margin: 42px 0px 44px;
}

body header .header-search .head-search .head-search_icon {
  width: 153px;
  height: 72px;
  margin-right: 211px;
}

body header .header-search .head-search #close-search {
  display: none;
}

body header .header-search .head-search .close-search {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

body header .header-search .head-search .close-search .close-search-1, body header .header-search .head-search .close-search .close-search-2 {
  width: 32px;
  height: 3px;
  position: absolute;
  margin-top: 15px;
  border-radius: 2px;
  background-color: #3F4449;
}

body header .header-search .head-search .close-search .close-search-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body header .header-search .head-search .close-search .close-search-2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 320px) {
  body header .header-search .head-search .close-search .close-search-1, body header .header-search .head-search .close-search .close-search-2 {
    width: 18px;
  }
}

body header .header-search .head-search .close-search:hover .close-search-1, body header .header-search .head-search .close-search:hover .close-search-2 {
  background-color: red;
}

@media (max-width: 320p) {
  body header .header-search .head-search .close-search:hover .close-search-1, body header .header-search .head-search .close-search:hover .close-search-2 {
    width: 18px;
  }
}

@media (max-width: 320px) {
  body header .header-search .head-search .head-search_icon {
    width: 68px;
    height: 32px;
    margin-right: 96px;
  }
  body header .header-search .head-search .close-search {
    width: 14px;
    height: 32px;
  }
}

body header .header-search .searcher {
  border: 1px solid #3F4449;
  width: 431px;
  height: 48px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body header .header-search .searcher .search-input {
  border: none;
  padding: 10px;
  font-size: 18pt;
  width: 363px;
}

body header .header-search .searcher .search-btn {
  width: 46px;
  border: none;
  border-radius: 0px 1px 1px 0px;
  background: #3F97FB;
  cursor: pointer;
}

body header .header-search .searcher .search-btn img {
  width: 24px;
}

@media (max-width: 1280px) {
  body header .header-search .searcher .search-btn img {
    width: 20px;
  }
}

@media (max-width: 960px) {
  body header .header-search .searcher .search-btn img {
    width: 14px;
  }
}

@media (max-width: 720px) {
  body header .header-search .searcher .search-btn img {
    width: 37px;
  }
}

@media (max-width: 320px) {
  body header .header-search .searcher .search-btn img {
    width: 20px;
  }
}

body header .header-search .searcher .search-btn:hover {
  -webkit-box-shadow: 0px 0px 5px 3px #3f97fb;
          box-shadow: 0px 0px 5px 3px #3f97fb;
}

@media (max-width: 1280px) {
  body header .header-search .searcher .search-input {
    width: 287px;
  }
  body header .header-search .searcher .search-btn {
    width: 36px;
  }
}

@media (max-width: 960px) {
  body header .header-search .searcher .search-input {
    width: 247px;
    font-size: 12pt;
  }
  body header .header-search .searcher .search-btn {
    width: 26px;
  }
}

@media (max-width: 720px) {
  body header .header-search .searcher .search-input {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 49px;
    width: 578px;
    padding: 13px 27px;
  }
  body header .header-search .searcher .search-btn {
    width: 70px;
  }
}

@media (max-width: 320px) {
  body header .header-search .searcher .search-input {
    width: 234px;
    font-size: 22px;
    padding: 7px;
  }
  body header .header-search .searcher .search-btn {
    width: 36px;
  }
}

@media (max-width: 1280px) {
  body header .header-search .searcher {
    width: 345px;
    height: 38px;
  }
}

@media (max-width: 960px) {
  body header .header-search .searcher {
    width: 295px;
    height: 28px;
  }
}

@media (max-width: 720px) {
  body header .header-search .head-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body header .header-search .searcher {
    border: 2px solid #3F4449;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    width: 648px;
    height: 74px;
    margin: 0px auto;
  }
}

@media (max-width: 320px) {
  body header .header-search .head-search {
    margin: 19px 0px;
    padding-right: 16px;
  }
  body header .header-search .searcher {
    width: 288px;
    height: 38px;
  }
}

@-webkit-keyframes showHeaderSearch {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

@keyframes showHeaderSearch {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

@-webkit-keyframes closeHeaderSearch {
  from {
    left: 0%;
  }
  to {
    left: -100%;
    display: none;
  }
}

@keyframes closeHeaderSearch {
  from {
    left: 0%;
  }
  to {
    left: -100%;
    display: none;
  }
}

body header .reg {
  margin-left: 60px;
}

body header .reg #login {
  display: none;
}

body header .reg .btn-search {
  display: none;
  height: 45px;
  width: 45px;
  cursor: pointer;
  background: url("../img/Search.svg") no-repeat;
  background-size: contain;
}

body header .reg .reg-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 94px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 94px;
}

body header .reg .reg-btn .reg-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

body header .reg .reg-btn .reg-text {
  color: #3F4449;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
}

body header .reg .reg-btn .reg-text:hover {
  text-decoration: underline;
}

@media (max-width: 1280px) {
  body header .reg .reg-btn .reg-icon {
    width: 20px;
    height: 20px;
  }
  body header .reg .reg-btn .reg-text {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (max-width: 960px) {
  body header .reg .reg-btn .reg-icon {
    width: 14px;
    height: 14px;
  }
  body header .reg .reg-btn .reg-text {
    font-size: 12px;
    line-height: 12px;
  }
}

@media (max-width: 720px) {
  body header .reg .reg-btn .reg-icon {
    width: 45px;
    height: 45px;
  }
  body header .reg .reg-btn .reg-text {
    display: none;
  }
}

@media (max-width: 320px) {
  body header .reg .reg-btn .reg-icon {
    width: 18px;
  }
}

@media (max-width: 1280px) {
  body header .reg .reg-btn {
    width: 74px;
  }
}

@media (max-width: 960px) {
  body header .reg .reg-btn {
    width: 60px;
    margin-right: 19px;
  }
}

@media (max-width: 720px) {
  body header .reg .btn-search {
    display: block;
  }
  body header .reg .reg-btn {
    width: auto;
    height: 45px;
    margin-right: 0px;
  }
}

@media (max-width: 320px) {
  body header .reg .btn-search {
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 1280px) {
  body header .reg {
    margin-left: 47px;
  }
  body header .header-icon {
    height: 40px;
  }
}

@media (max-width: 960px) {
  body header .header-search {
    margin-left: 20px;
  }
  body header .header-icon {
    height: 28px;
  }
  body header .reg {
    margin-left: 30px;
  }
}

@media (max-width: 720px) {
  body header .burger-menu {
    display: block;
    width: 153px;
  }
  body header .header-list {
    display: none;
    position: fixed;
    top: 0px;
    left: -590px;
    height: 100%;
    width: 590px;
    background: #FFFFFF;
    z-index: 100;
    -webkit-box-shadow: 2px 4px 4px rgba(12, 47, 136, 0.25);
            box-shadow: 2px 4px 4px rgba(12, 47, 136, 0.25);
    -webkit-transition: .3s all linear;
    transition: .3s all linear;
  }
  body header .header-search {
    display: none;
    position: fixed;
    margin-left: 0px;
    top: 0px;
    left: -100%;
    height: 100%;
    width: 100%;
    background: #FFFFFF;
    z-index: 100;
    -webkit-box-shadow: 2px 4px 4px rgba(12, 47, 136, 0.25);
            box-shadow: 2px 4px 4px rgba(12, 47, 136, 0.25);
    -webkit-transition: .3s all linear;
    transition: .3s all linear;
  }
  body header .header-icon {
    width: 153px;
    height: 72px;
  }
  body header .reg {
    margin-left: 0px;
    width: 153px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 320px) {
  body header .burger-menu {
    width: 24px;
    height: 24px;
  }
  body header .header-icon {
    width: 68px;
    height: 32px;
    margin-right: -40px;
  }
  body header .reg {
    margin-left: 0px;
    width: 59px;
  }
  body header .header-list {
    width: 262px;
    left: -262px;
  }
  @-webkit-keyframes showHeaderList {
    from {
      left: -262px;
    }
    to {
      left: 0px;
    }
  }
  @keyframes showHeaderList {
    from {
      left: -262px;
    }
    to {
      left: 0px;
    }
  }
  @-webkit-keyframes closeHeaderList {
    from {
      left: 0px;
    }
    to {
      left: -262px;
      display: none;
    }
  }
  @keyframes closeHeaderList {
    from {
      left: 0px;
    }
    to {
      left: -262px;
      display: none;
    }
  }
}

body main .modale-bg {
  opacity: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  -webkit-transition: .5s all linear;
  transition: .5s all linear;
  z-index: -1;
}

body main .modale-bg .login-window {
  margin: 346px auto 0px;
  width: 440px;
  height: 502px;
  padding: 20px;
  background: #FFFFFF;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
  z-index: inherit;
  opacity: 0;
}

body main .modale-bg .login-window #close {
  display: none;
}

body main .modale-bg .login-window .btn-close {
  display: block;
  width: 25px;
  height: 25px;
  margin-left: 418px;
  cursor: pointer;
}

body main .modale-bg .login-window .btn-close .label-close-1, body main .modale-bg .login-window .btn-close .label-close-2 {
  width: 25px;
  height: 3px;
  position: absolute;
  margin-top: 11px;
  border-radius: 2px;
  background-color: #3F4449;
}

body main .modale-bg .login-window .btn-close .label-close-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body main .modale-bg .login-window .btn-close .label-close-2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 1280px) {
  body main .modale-bg .login-window .btn-close .label-close-1, body main .modale-bg .login-window .btn-close .label-close-2 {
    width: 16px;
  }
}

@media (max-width: 720px) {
  body main .modale-bg .login-window .btn-close .label-close-1, body main .modale-bg .login-window .btn-close .label-close-2 {
    width: 32px;
    height: 5px;
  }
}

@media (max-width: 320px) {
  body main .modale-bg .login-window .btn-close .label-close-1, body main .modale-bg .login-window .btn-close .label-close-2 {
    width: 18px;
    height: 3px;
  }
}

body main .modale-bg .login-window .btn-close:hover .label-close-1, body main .modale-bg .login-window .btn-close:hover .label-close-2 {
  background-color: red;
}

body main .modale-bg .login-window .wind-form .wind-form_h4 {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: #3F4449;
  margin: 10px 0px 29px;
}

body main .modale-bg .login-window .wind-form .reg-form .name {
  font-size: 18px;
  line-height: 24px;
  color: #3F4449;
  margin-left: 40px;
}

body main .modale-bg .login-window .wind-form .reg-form .name .input-name {
  display: block;
  margin: 5px auto 23px;
  padding: 0px 10px;
  font-size: 20px;
  width: 360px;
  height: 54px;
  background: rgba(189, 220, 254, 0.05);
  border: 1px solid #BDDCFE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
}

@media (max-width: 1280px) {
  body main .modale-bg .login-window .wind-form .reg-form .name .input-name {
    width: 288px;
    height: 44px;
    margin: 4px auto 18px;
  }
}

@media (max-width: 960px) {
  body main .modale-bg .login-window .wind-form .reg-form .name .input-name {
    width: 224px;
    height: 33px;
    margin: 3.59px auto 14px;
  }
}

@media (max-width: 720px) {
  body main .modale-bg .login-window .wind-form .reg-form .name .input-name {
    font-size: 34px;
    width: 504px;
    height: 74px;
    margin: 8.5px auto 31.5px;
  }
}

@media (max-width: 320px) {
  body main .modale-bg .login-window .wind-form .reg-form .name .input-name {
    font-size: 14px;
    width: 224px;
    height: 33px;
    margin: 3.59px auto 14px;
  }
}

body main .modale-bg .login-window .wind-form .reg-form .password {
  font-size: 18px;
  line-height: 24px;
  color: #3F4449;
  margin-left: 40px;
}

body main .modale-bg .login-window .wind-form .reg-form .password .input-pass {
  display: block;
  margin: 5px auto 6px;
  padding: 0px 10px;
  font-size: 20px;
  width: 360px;
  height: 54px;
  background: rgba(189, 220, 254, 0.05);
  border: 1px solid #BDDCFE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
}

@media (max-width: 1280px) {
  body main .modale-bg .login-window .wind-form .reg-form .password .input-pass {
    width: 288px;
    height: 44px;
    margin: 4px auto 5px;
  }
}

@media (max-width: 960px) {
  body main .modale-bg .login-window .wind-form .reg-form .password .input-pass {
    width: 224px;
    height: 33px;
    margin: 3.59px auto 3.64px;
  }
}

@media (max-width: 720px) {
  body main .modale-bg .login-window .wind-form .reg-form .password .input-pass {
    font-size: 34px;
    width: 504px;
    height: 74px;
    margin: 8.5px auto 31.5px;
  }
}

@media (max-width: 320px) {
  body main .modale-bg .login-window .wind-form .reg-form .password .input-pass {
    font-size: 14px;
    width: 224px;
    height: 33px;
    margin: 2.59px auto 3.64px;
  }
}

body main .modale-bg .login-window .wind-form .reg-form .forgot {
  font-size: 16px;
  line-height: 24px;
  margin-left: 40px;
  color: #3F97FB;
}

body main .modale-bg .login-window .wind-form .reg-form .btn-login {
  display: block;
  margin: 40px auto 0px;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  width: 360px;
  height: 60px;
  background: #3F97FB;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

body main .modale-bg .login-window .wind-form .reg-form .btn-login:hover {
  background: rgba(63, 151, 251, 0.8);
}

@media (max-width: 1280px) {
  body main .modale-bg .login-window .wind-form .reg-form .name, body main .modale-bg .login-window .wind-form .reg-form .password {
    font-size: 14px;
    line-height: 19px;
    margin-left: 47px;
  }
  body main .modale-bg .login-window .wind-form .reg-form .forgot {
    font-size: 12px;
    line-height: 19px;
    margin-left: 47px;
  }
  body main .modale-bg .login-window .wind-form .reg-form .btn-login {
    width: 288px;
    height: 48px;
    font-size: 16px;
    line-height: 19px;
    margin: 31px auto 0px;
  }
}

@media (max-width: 960px) {
  body main .modale-bg .login-window .wind-form .reg-form .name, body main .modale-bg .login-window .wind-form .reg-form .password, body main .modale-bg .login-window .wind-form .reg-form .forgot {
    font-size: 14px;
    line-height: 14px;
    margin-left: 31px;
  }
  body main .modale-bg .login-window .wind-form .reg-form .btn-login {
    width: 224px;
    height: 36px;
    font-size: 14px;
    line-height: 14px;
    margin: 22.94px auto 0px;
  }
}

@media (max-width: 720px) {
  body main .modale-bg .login-window .wind-form .reg-form .name, body main .modale-bg .login-window .wind-form .reg-form .password, body main .modale-bg .login-window .wind-form .reg-form .forgot {
    font-size: 32px;
    line-height: 32px;
    margin-left: 69px;
  }
  body main .modale-bg .login-window .wind-form .reg-form .btn-login {
    width: 504px;
    height: 80px;
    font-size: 32px;
    line-height: 32px;
    margin: 51.58px auto 0px;
  }
}

@media (max-width: 320px) {
  body main .modale-bg .login-window .wind-form .reg-form .name, body main .modale-bg .login-window .wind-form .reg-form .password, body main .modale-bg .login-window .wind-form .reg-form .forgot {
    font-size: 14px;
    line-height: 14px;
    margin-left: 31px;
  }
  body main .modale-bg .login-window .wind-form .reg-form .btn-login {
    width: 224px;
    height: 36px;
    font-size: 14px;
    line-height: 14px;
    margin: 22.94px auto 0px;
  }
}

body main .modale-bg .login-window .wind-form .sign-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: #3F97FB;
  display: block;
  text-align: center;
  margin-top: 27px;
}

body main .modale-bg .login-window .wind-form .sign-link:hover {
  text-decoration: underline;
}

@media (max-width: 1280px) {
  body main .modale-bg .login-window .wind-form .wind-form_h4 {
    margin: 8px 0px 23px;
    font-size: 22px;
    line-height: 30px;
  }
  body main .modale-bg .login-window .wind-form .sign-link {
    font-size: 16px;
    line-height: 19px;
    margin-top: 21px;
  }
}

@media (max-width: 960px) {
  body main .modale-bg .login-window .wind-form .wind-form_h4 {
    margin: 1.87px 0px 8.31px;
    font-size: 16px;
    line-height: 22px;
  }
  body main .modale-bg .login-window .wind-form .sign-link {
    font-size: 14px;
    line-height: 14px;
    margin-top: 16px;
  }
}

@media (max-width: 720px) {
  body main .modale-bg .login-window .wind-form .wind-form_h4 {
    margin: 2.75px 0px 19.66px;
    font-size: 36px;
    line-height: 49px;
  }
  body main .modale-bg .login-window .wind-form .sign-link {
    font-size: 32px;
    line-height: 32px;
    margin-top: 37px;
  }
}

@media (max-width: 320px) {
  body main .modale-bg .login-window .wind-form .wind-form_h4 {
    margin: 1.87px 0px 8.31px;
    font-size: 16px;
    line-height: 22px;
  }
  body main .modale-bg .login-window .wind-form .sign-link {
    font-size: 14px;
    line-height: 14px;
    margin-top: 16px;
  }
}

@media (max-width: 1280px) {
  body main .modale-bg .login-window .btn-close {
    width: 16px;
    height: 16px;
    margin-left: 352px;
  }
}

@media (max-width: 960px) {
  body main .modale-bg .login-window .btn-close {
    width: 14px;
    height: 14px;
    margin-left: 260px;
  }
}

@media (max-width: 720px) {
  body main .modale-bg .login-window .btn-close {
    width: 32px;
    height: 32px;
    margin-left: 596px;
  }
}

@media (max-width: 320px) {
  body main .modale-bg .login-window .btn-close {
    width: 14px;
    height: 14px;
    margin-left: 265px;
  }
}

@-webkit-keyframes showLoginWindow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showLoginWindow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes closeLoginWindow {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes closeLoginWindow {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 1600px) {
  body main .modale-bg .login-window {
    margin: 223px auto 0px;
  }
}

@media (max-width: 1280px) {
  body main .modale-bg .login-window {
    margin: 216px auto 0px;
    width: 384px;
    height: 433px;
    padding: 12px 0px 0px 0px;
  }
}

@media (max-width: 960px) {
  body main .modale-bg .login-window {
    margin: 122px auto 0px;
    width: 288px;
    height: 309px;
    padding: 9px 0px 0px 0px;
  }
}

@media (max-width: 720px) {
  body main .modale-bg .login-window {
    margin: 359px auto 0px;
    width: 648px;
    height: 692px;
    padding: 20px 0px 0px 0px;
  }
}

@media (max-width: 320px) {
  body main .modale-bg .login-window {
    margin: 134px auto 0px;
    width: 288px;
    height: 309px;
    padding: 5px 0px;
  }
}

@-webkit-keyframes showModaleBg {
  from {
    display: block;
    opacity: 0;
    z-index: -1;
  }
  to {
    opacity: 1;
    z-index: 50;
  }
}

@keyframes showModaleBg {
  from {
    display: block;
    opacity: 0;
    z-index: -1;
  }
  to {
    opacity: 1;
    z-index: 50;
  }
}

@-webkit-keyframes closeModaleBgMove {
  from {
    opacity: 1;
    z-index: 50;
  }
  to {
    opacity: 0;
    z-index: -1;
    display: none;
  }
}

@keyframes closeModaleBgMove {
  from {
    opacity: 1;
    z-index: 50;
  }
  to {
    opacity: 0;
    z-index: -1;
    display: none;
  }
}

body main .cont {
  height: 619px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/Slide 1.png") center no-repeat;
  background-size: cover;
}

body main .cont .bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

body main .cont .bg .text {
  width: 100%;
  padding: 120px 0px;
}

body main .cont .bg .text .text-h2 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 3px;
  width: 507px;
  margin: 0px 0px 0px 258px;
}

@media (max-width: 1600px) {
  body main .cont .bg .text .text-h2 {
    margin: 0px 0px 0px 98px;
  }
}

@media (max-width: 1280px) {
  body main .cont .bg .text .text-h2 {
    width: 411px;
    font-size: 33px;
    line-height: 39px;
  }
}

@media (max-width: 960px) {
  body main .cont .bg .text .text-h2 {
    margin: 0px 0px 0px 20px;
    font-size: 30px;
    line-height: 29px;
  }
}

@media (max-width: 720px) {
  body main .cont .bg .text .text-h2 {
    font-size: 62px;
    line-height: 66px;
    width: 542px;
    height: 199px;
    margin: 0px 0px 0px 34px;
  }
}

@media (max-width: 320px) {
  body main .cont .bg .text .text-h2 {
    font-size: 22px;
    line-height: 29px;
    margin: 0px 0px 0px 16px;
    width: 294px;
    height: 85px;
  }
}

body main .cont .bg .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .cont .bg .info .wrap {
  width: 350px;
  height: 198px;
  margin: 0px 15px;
  background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), to(#FFFFFF)), #FFFFFF;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
}

body main .cont .bg .info .wrap .wrap-h5 {
  margin: 28px 0px 0px 0px;
  text-align: center;
  color: #0158BA;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

body main .cont .bg .info .wrap .wrap-p {
  margin: 11px 34px;
  font-size: 16px;
  line-height: 24px;
}

body main .cont .bg .info .wrap .wrap-a {
  margin: 0px 0px 0px 34px;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #3F97FB;
}

body main .cont .bg .info .wrap .wrap-a .a_arrow {
  position: relative;
  left: 5px;
  -webkit-transition: .3s all 0s;
  transition: .3s all 0s;
}

body main .cont .bg .info .wrap .wrap-a:hover {
  text-decoration: underline;
}

body main .cont .bg .info .wrap .wrap-a:hover .a_arrow {
  left: 15px;
}

@media (max-width: 1280px) {
  body main .cont .bg .info .wrap .wrap-h5 {
    margin: 16px 0px 0px 0px;
    font-size: 14px;
    line-height: 19px;
  }
  body main .cont .bg .info .wrap .wrap-p {
    margin: 9px 20px;
    font-size: 12px;
    line-height: 19px;
    height: 58px;
  }
  body main .cont .bg .info .wrap .wrap-a {
    margin: 0px 0px 0px 20px;
    font-size: 12px;
    line-height: 19px;
    display: block;
    width: 80px;
  }
}

@media (max-width: 960px) {
  body main .cont .bg .info .wrap .wrap-h5 {
    margin: 11px 0px 0px 0px;
    font-size: 12px;
    line-height: 14px;
  }
  body main .cont .bg .info .wrap .wrap-p {
    margin: 5px 14px;
    font-size: 10px;
    line-height: 14px;
    height: 43.5px;
  }
  body main .cont .bg .info .wrap .wrap-a {
    margin: 0px 0px 0px 11.6px;
    font-size: 10px;
    line-height: 14px;
    width: 70px;
  }
}

@media (max-width: 720px) {
  body main .cont .bg .info .wrap .wrap-h5 {
    margin: 41px 0px 0px 0px;
    font-size: 32px;
    line-height: 43px;
  }
  body main .cont .bg .info .wrap .wrap-p {
    margin: 13px 54px 4.5px;
    font-size: 27px;
    line-height: 150%;
    height: 130.5px;
  }
  body main .cont .bg .info .wrap .wrap-a {
    margin: 0px 0px 0px 54px;
    font-size: 27px;
    line-height: 43px;
    width: 186.75px;
  }
}

@media (max-width: 320px) {
  body main .cont .bg .info .wrap .wrap-h5 {
    margin: 19px 0px 0px 0px;
    font-size: 14px;
    line-height: 19px;
  }
  body main .cont .bg .info .wrap .wrap-p {
    margin: 5px 24px;
    font-size: 12px;
    line-height: 19px;
    height: 58px;
  }
  body main .cont .bg .info .wrap .wrap-a {
    margin: 0px 0px 0px 24px;
    font-size: 12px;
    line-height: 19px;
    width: 83px;
  }
}

@media (max-width: 1280px) {
  body main .cont .bg .info .wrap {
    width: 280px;
    height: 144px;
  }
}

@media (max-width: 960px) {
  body main .cont .bg .info .wrap {
    width: 208px;
    height: 104px;
  }
}

@media (max-width: 720px) {
  body main .cont .bg .info .wrap {
    width: 648px;
    height: 321px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 320px) {
  body main .cont .bg .info .wrap {
    width: 288px;
    height: 145px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 1600px) {
  body main .cont .bg .text {
    padding: 85px 0px;
  }
}

@media (max-width: 1280px) {
  body main .cont .bg .text {
    padding: 76px 0px;
  }
}

@media (max-width: 960px) {
  body main .cont .bg .text {
    padding: 60px 0px;
  }
}

@media (max-width: 720px) {
  body main .cont .bg .text {
    padding: 124.5px 0px;
  }
  body main .cont .bg .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 1023px;
  }
}

@media (max-width: 320px) {
  body main .cont .bg .text {
    padding: 58px 0px;
  }
  body main .cont .bg .info {
    height: 459px;
  }
}

body main .projects {
  background: #F3FAFF;
  height: 731px;
  padding-top: 69px;
}

body main .projects h2 {
  margin: 0px 0px 52px;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 24px;
  color: #0158BA;
}

body main .projects .slider {
  margin: 52px 321px 0px;
}

body main .projects .slider .slick-list {
  padding: 0px 20px 15px;
}

body main .projects .slider .slick-arrow {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
}

body main .projects .slider .slick-arrow:hover {
  -webkit-box-shadow: 0px 0px 15px 0px #3f97fb;
          box-shadow: 0px 0px 15px 0px #3f97fb;
}

body main .projects .slider .slick-prev::before, body main .projects .slider .slick-next::before {
  content: "";
}

body main .projects .slider .slick-prev {
  background: url("../img/arrow left.svg") center no-repeat;
  background-size: contain;
  left: -80px;
}

body main .projects .slider .slick-next {
  background: url("../img/arrow right.svg") center no-repeat;
  background-size: contain;
  right: -80px;
}

body main .projects .slider .slick-dots {
  bottom: -50px;
}

body main .projects .slider .slick-dots li button::before {
  font-size: 14px;
  color: #3F97FB;
}

@media (max-width: 1280px) {
  body main .projects .slider .slick-dots li button::before {
    font-size: 10px;
  }
}

@media (max-width: 960px) {
  body main .projects .slider .slick-dots li button::before {
    font-size: 8px;
  }
}

@media (max-width: 720px) {
  body main .projects .slider .slick-dots li button::before {
    font-size: 22px;
  }
}

@media (max-width: 320px) {
  body main .projects .slider .slick-dots li button::before {
    font-size: 10px;
  }
}

@media (max-width: 720px) {
  body main .projects .slider .slick-dots li {
    margin: 0px 27.5px;
  }
}

@media (max-width: 320px) {
  body main .projects .slider .slick-dots li {
    margin: 0px 12px;
  }
}

body main .projects .slider .slider_item {
  width: 605px;
  height: 548px;
  margin: 0px 15px;
  cursor: w-resize;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(12, 47, 136, 0.15);
          box-shadow: 0px 5px 15px 0px rgba(12, 47, 136, 0.15);
}

body main .projects .slider .slider_item .item-img {
  width: 605px;
  height: 370px;
}

body main .projects .slider .slider_item .item-h4 {
  color: #0158BA;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  margin: 19px 33px 6px;
}

body main .projects .slider .slider_item .item-p {
  font-size: 18px;
  line-height: 150%;
  color: #364D78;
  margin: 0px 32px;
}

body main .projects .slider .slider_item .item-a {
  font-size: 18px;
  line-height: 150%;
  color: #3F97FB;
  margin: 7px 33px 27px;
  width: 120px;
  display: block;
  text-decoration: none;
}

body main .projects .slider .slider_item .item-a .arrow {
  position: relative;
  left: 5px;
  -webkit-transition: .3s all 0s;
  transition: .3s all 0s;
}

body main .projects .slider .slider_item .item-a:hover {
  text-decoration: underline;
}

body main .projects .slider .slider_item .item-a:hover .arrow {
  left: 15px;
}

@media (max-width: 1280px) {
  body main .projects .slider .slider_item .item-img {
    width: 490px;
    height: 299px;
  }
  body main .projects .slider .slider_item .item-h4 {
    font-size: 22px;
    line-height: 30px;
    margin: 12px 19px 6px;
  }
  body main .projects .slider .slider_item .item-p {
    font-size: 14px;
    margin: 0px 40px 0px 19px;
  }
  body main .projects .slider .slider_item .item-a {
    font-size: 14px;
    width: 95px;
    margin: 6px auto 15px 19px;
  }
}

@media (max-width: 960px) {
  body main .projects .slider .slider_item .item-img {
    width: 400px;
    height: 244px;
  }
  body main .projects .slider .slider_item .item-h4 {
    font-size: 18px;
    line-height: 25px;
    margin: 6px 15.2px .8px;
  }
  body main .projects .slider .slider_item .item-p {
    font-size: 12px;
    margin: 0px 16px;
  }
  body main .projects .slider .slider_item .item-a {
    font-size: 11.2465px;
    width: 95px;
    margin: 6px auto 11.65px 16px;
  }
}

@media (max-width: 720px) {
  body main .projects .slider .slider_item .item-img {
    width: 648px;
    height: 396.15px;
  }
  body main .projects .slider .slider_item .item-h4 {
    font-size: 31.5px;
    line-height: 43px;
    margin: 19.64px 35px 0.64px;
  }
  body main .projects .slider .slider_item .item-p {
    font-size: 27px;
    line-height: 150%;
    margin: 0px 35px;
  }
  body main .projects .slider .slider_item .item-a {
    display: none;
  }
}

@media (max-width: 320px) {
  body main .projects .slider .slider_item .item-img {
    width: 288px;
    height: 176.13px;
  }
  body main .projects .slider .slider_item .item-h4 {
    font-size: 14px;
    line-height: 19px;
    margin: 9.04px 15.42px 0.29px;
  }
  body main .projects .slider .slider_item .item-p {
    font-size: 12px;
    margin: 0px 16px;
  }
}

@media (max-width: 1600px) {
  body main .projects .slider .slick-list {
    margin-left: -6px;
    padding: 0px 0px 15px;
  }
}

@media (max-width: 1280px) {
  body main .projects .slider .slick-arrow {
    width: 40px;
    height: 40px;
  }
  body main .projects .slider .slider_item {
    width: 490px;
    height: 431px;
    margin-left: 20px;
  }
  body main .projects .slider .slick-list {
    width: 1027px;
  }
}

@media (max-width: 960px) {
  body main .projects .slider .slick-arrow {
    width: 30px;
    height: 30px;
  }
  body main .projects .slider .slider_item {
    width: 400px;
    height: 348px;
    margin-left: 20px;
  }
  body main .projects .slider .slick-list {
    width: 845px;
    margin-left: -30px;
  }
  body main .projects .slider .slick-dots {
    bottom: -23px;
  }
}

@media (max-width: 720px) {
  body main .projects .slider .slider_item {
    width: 648px;
    height: 631px;
  }
  body main .projects .slider .slick-list {
    width: auto;
    margin-left: 0px;
    padding: 0px 0px 54px;
  }
  body main .projects .slider .slick-arrow {
    width: 66px;
    height: 66px;
    z-index: 10;
  }
  body main .projects .slider .slick-prev {
    left: 29px;
  }
  body main .projects .slider .slick-next {
    right: 20px;
  }
}

@media (max-width: 320px) {
  body main .projects .slider .slider_item {
    width: 288px;
    height: 293px;
  }
  body main .projects .slider .slick-list {
    width: auto;
    margin-left: 0px;
    padding: 0px 0px 20px;
  }
  body main .projects .slider .slick-arrow {
    width: 30px;
    height: 30px;
    z-index: 10;
  }
  body main .projects .slider .slick-prev {
    left: 13px;
  }
  body main .projects .slider .slick-next {
    right: 13px;
  }
}

@media (max-width: 1600px) {
  body main .projects .slider {
    margin: 52px 185px 0px;
  }
}

@media (max-width: 1280px) {
  body main .projects h2 {
    margin: 0px 0px 42px;
    font-size: 28px;
    line-height: 19px;
  }
  body main .projects .slider {
    margin: 52px 141px 0px;
  }
}

@media (max-width: 960px) {
  body main .projects h2 {
    display: none;
  }
  body main .projects .slider {
    margin: 0px 95px 0px;
  }
}

@media (max-width: 720px) {
  body main .projects h2 {
    display: block;
    margin: 970px 95px 36px;
    font-size: 45px;
    line-height: 54px;
  }
  body main .projects .slider {
    margin: 0px 36px 0px;
  }
}

@media (max-width: 320px) {
  body main .projects h2 {
    font-size: 20px;
    line-height: 24px;
    margin: 395px 99px 16px;
  }
  body main .projects .slider {
    margin: 0px 16px 0px;
  }
}

@media (max-width: 1600px) {
  body main .cont {
    height: 517px;
  }
}

@media (max-width: 1280px) {
  body main .cont {
    height: 412px;
  }
  body main .projects {
    height: 605px;
    padding-top: 55px;
  }
}

@media (max-width: 960px) {
  body main .cont {
    height: 309px;
  }
  body main .projects {
    height: 404px;
    padding-top: 71px;
  }
}

@media (max-width: 720px) {
  body main .cont {
    height: 490.5px;
  }
  body main .projects {
    height: 1820px;
    padding-top: 71px;
  }
}

@media (max-width: 320px) {
  body main .cont {
    height: 218px;
  }
  body main .projects {
    height: 790px;
  }
}

body footer {
  position: relative;
  top: 0px;
  height: 141px;
  text-align: center;
  padding: 42px 0px 0px;
  margin: 0px auto;
}

body footer .sections .sections-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

body footer .sections .sections-list .sections-list_item {
  margin: 0px 23px;
  display: inline-block;
}

body footer .sections .sections-list .sections-list_item .item-link {
  font-size: 20px;
  line-height: 27px;
  color: #3F4449;
  text-decoration: none;
}

body footer .sections .sections-list .sections-list_item .item-link:hover {
  text-decoration: underline;
}

@media (max-width: 1280px) {
  body footer .sections .sections-list .sections-list_item .item-link {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 720px) {
  body footer .sections .sections-list .sections-list_item .item-link {
    font-size: 32px;
    line-height: 44px;
  }
}

@media (max-width: 320px) {
  body footer .sections .sections-list .sections-list_item .item-link {
    font-size: 14px;
    line-height: 19px;
  }
}

body footer .sections .sections-list .sections-list_item:nth-child(1) {
  margin-left: 0px;
}

@media (max-width: 1280px) {
  body footer .sections .sections-list .sections-list_item {
    margin: 0px 15px;
  }
}

@media (max-width: 720px) {
  body footer .sections .sections-list .sections-list_item {
    margin: 0px 15px;
  }
  body footer .sections .sections-list .sections-list_item:nth-child(3) {
    margin-right: 0px;
  }
  body footer .sections .sections-list .sections-list_item:nth-child(4) {
    margin: 16px 15px 0px;
  }
  body footer .sections .sections-list .sections-list_item:nth-child(5) {
    margin: 16px 15px 0px;
  }
}

@media (max-width: 320px) {
  body footer .sections .sections-list .sections-list_item {
    margin: 0px 15px;
  }
}

@media (max-width: 720px) {
  body footer .sections .sections-list {
    margin: 0px auto 42px;
    width: 513px;
  }
}

@media (max-width: 320px) {
  body footer .sections .sections-list {
    margin: 0px auto 19.6px;
    width: 234px;
  }
}

body footer .social {
  margin: 34px auto 0px;
}

body footer .social .social-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

body footer .social .social-list .social-list_item {
  display: inline-block;
  margin: 0px 13px;
  -webkit-transition: .3s all 0s;
  transition: .3s all 0s;
  border-radius: 50%;
  height: 28px;
}

body footer .social .social-list .social-list_item .soc-link img {
  height: 28px;
}

@media (max-width: 1280px) {
  body footer .social .social-list .social-list_item .soc-link img {
    height: 22px;
  }
}

@media (max-width: 720px) {
  body footer .social .social-list .social-list_item .soc-link img {
    height: 49.5px;
  }
}

@media (max-width: 320px) {
  body footer .social .social-list .social-list_item .soc-link img {
    height: 22px;
  }
}

body footer .social .social-list .social-list_item:nth-child(1) {
  margin-left: 0px;
}

body footer .social .social-list .social-list_item:nth-child(3) {
  margin-right: 0px;
}

body footer .social .social-list .social-list_item:hover {
  -webkit-box-shadow: inset 0px 0px 10px 0px #222222;
          box-shadow: inset 0px 0px 10px 0px #222222;
}

@media (max-width: 1280px) {
  body footer .social .social-list .social-list_item {
    height: 22px;
  }
}

@media (max-width: 720px) {
  body footer .social .social-list .social-list_item {
    height: 49.5px;
    margin: 0px 26px;
  }
  body footer .social .social-list .social-list_item:hover {
    -webkit-box-shadow: inset 0px 0px 20px 0px #222222;
            box-shadow: inset 0px 0px 20px 0px #222222;
  }
}

@media (max-width: 320px) {
  body footer .social .social-list .social-list_item {
    height: 22px;
    margin: 0px 11.8px;
  }
  body footer .social .social-list .social-list_item:hover {
    -webkit-box-shadow: inset 0px 0px 10px 0px #222222;
            box-shadow: inset 0px 0px 10px 0px #222222;
  }
}

@media (max-width: 1280px) {
  body footer .social {
    margin: 22.2px auto 0px;
  }
}

@media (max-width: 960px) {
  body footer .social {
    margin: 8.8px auto 0px;
  }
}

@media (max-width: 1600px) {
  body header {
    height: 124px;
  }
}

@media (max-width: 1280px) {
  body header {
    height: 100px;
  }
  body footer {
    height: 89px;
    padding: 19px 0px 0px;
  }
}

@media (max-width: 960px) {
  body header {
    height: 68px;
  }
  body footer {
    height: 67px;
    padding: 20px 0px 0px;
  }
}

@media (max-width: 720px) {
  body header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 30px;
    height: 158px;
  }
  body footer {
    padding: 42px 0px 0px;
    height: 265px;
  }
}

@media (max-width: 320px) {
  body header {
    height: 70px;
    padding: 0px 16px;
  }
  body footer {
    padding: 19px 0px 0px;
    height: 120px;
  }
}

body::-webkit-scrollbar {
  display: none;
}
